platform: linux

image_resource:
  type: docker-image
  source:
    repository: gradle
    tag: latest

inputs:
  - name: source-code

outputs:
  - name: build

params:
  MAVEN_REPO: NOT_SET

run:
  path: "source-code/ci/tasks/package.sh"
  user: root
